#pointsDisplay{
  position: absolute;
  font-size: 28px;
  color: blue !important;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
